{% extends "base.html" %}
{% load static %}

{% block title %}Privacy Policy | Sahem{% endblock %}

{% block meta %}
    {{ block.super }}
    <meta name="title" content="Privacy Policy | Sahem">
    <meta name="description" content="Privacy policy page for Sahem">
    <meta keywords="Sahem,Charity,Events,organize,updates">
{% endblock %}
{% block content %}
    <div class="container">
        <h1>Privacy Policy of Sahem</h1>
        <div class="row">
            <p class="flow-text">
                Personal Data collected for the following purposes and using the following services:
            </p>
            <div class="divider"></div>
            <div class="col s5 free-box">
                <dl>
                    <dt><i class="small material-icons">supervisor_account</i><b>Access to third party
                        services' accounts</b></dt>
                    <dt>Access to the Facebook account</dt>
                    <dd>Permissions: Email, Name</dd>
                    <dt>Access to the Google+ account</dt>
                    <dd>Personal Data: Name, email address, location</dd>
                </dl>
            </div>
            <div class="col s5 free-box">
                <dt><i class="small material-icons">insert_chart</i><b>Analytics</b></dt>
                <dt>Google Analytics, Google AdWords</dt>
                <dd>Personal Data: Cookies and Usage data</dd>
            </div>
            <div class="col s5 free-box">
                <dt><i class="small material-icons">person_pin</i><b>Registration and
                    authentication</b></dt>
                <dt>Direct registration</dt>
                <dd>Personal Data: email address and password</dd>
                <dt>By social-media accounts</dt>
                <dd>Personal Data: email address and name</dd>
            </div>

            <div class="col s5 free-box">
                <dt><i class="small material-icons">library_books</i><b>Displaying content from external platforms</b></dt>
                <dt>Google Map</dt>
                <dd>Personal Data: Cookies and Usage data</dd>
            </div>

            <div class="divider"></div>
        </div>
        <div class="row">
            <div class="free-box col s9">
                <h4>Further information about Personal Data</h4>
                <p class="text-left">We don't sell or rent Users' Data to any third parties for any purpose.
                    The only uses of Data are those highlighted in this policy.
                    Users are the only owner of their Data and can request modification or deletion at any time.</p>
            </div>
            <!--
            {#Todo: Fill that later #}

            <div class="col-sm-9 free-box">
                <h4></h4>
                <p></p>
            </div>
             -->
        </div>
    </div>
{% endblock %}
