{% extends "base.html" %}

{% block title %}Page Not found{% endblock %}

{% block content %}


    <!-- Mozilla -->
    <div class="container">
    <h1>Whoops! </h1>
    <h2>What are you doing here?</h2>

    <p class="text-left">Did you make a left at that last URL instead of a right? No problem. Unless you want us to deal you in, here are
        some tips to get you back on your way:
    </p>
    <ul>
        <li> If you typed in the address, check your spelling. Could just be a typo.
        </li>
        <li> If you’ve found an issue with one of our websites, we’d appreciate it if you could report the problem in
            <a href="#">Contact & Support</a> page. One of our developers will take a look at it as soon as possible.
        </li>
        <li> If you followed a link, it’s probably broken.
        </li>
        <li> If you’re not sure what you’re looking for, start at <a href="{% url 'home' %}" title="home">Sahem.org</a>
        </li>
    </ul>
    </div>
{% endblock content %}
