{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}Create Event{% endblock %}
{% block content %}

    {# Load the jquery to display the map #}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>

    <div class="container" id="form-control">

        <div id="create-form" class="container">

            {% if message %}
                <div class="alert alert-{{ flag }}">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <strong>{{ message }}</strong>
                </div>
            {% endif %}



            {% if form %}

                <form action="" method="post">
                    {{ form|crispy }}
                    {{ form.media }}
                </form>
                <button id="create-event-btn" class="btn btn-default" type="submit">Create</button>

            {% endif %}

        </div>

    </div>

{% endblock %}
