{% extends 'base.html' %}
{% block title %}{{ event.name }}{% endblock %}
{% block content %}



    <script src="http://maps.googleapis.com/maps/api/js"></script>
    <script>
        function initialize() {
            var mapProp = {
                center: new google.maps.LatLng({{ event.position.latitude }}, {{ event.position.longitude }}),
                zoom: 15,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            };
            var map = new google.maps.Map(document.getElementById("googleMap"), mapProp);


            var myLatLng = {lat: {{ event.position.latitude }}, lng: {{ event.position.longitude }}};

            var marker = new google.maps.Marker({
                position: myLatLng,
                map: map,
                title: 'hello world'
            })

        }
        google.maps.event.addDomListener(window, 'load', initialize);
    </script>

    <!-- ----------------------------------------------- -->
    <div class="card event-page-elem">
        {% if event.available %}
            <div class="green">This event is available</div>
        {% else %}
            <div class="red">This event is not available</div>
        {% endif %}
        <div class="row">
            <div class="cards-content">
                <div class="card-title">
                    <div class="row">
                        <div class="col s1">
                            <img src="{{ event.category.image.url }}" alt="{{ event.category.name }}"
                                 class="responsive-img circle">
                        </div>
                        <div class="col s11">
                            <p><strong>{{ event.name }}</strong><br>
                                {{ event.category.name }} event, starts on {{ event.start }}</p>

                        </div>
                    </div>
                    <div class="divider"></div>
                </div>
                <div class="col s8">

                    <h3>Event details</h3>
                    <p class="flow-text">{{ event.description }}</p>

                    <h3>Who's Going</h3>
                    <p>Manager : {{ event.owner }}</p>
                    <p>Staffs : {{ event.get_staff_count }}</p>
                    <ul class="list-unstyled">
                        {% for staff in event.staff.all %}
                            <li>{{ staff }}</li>
                        {% endfor %}
                    </ul>
                    <p>Participant : {{ event.get_participant_count }}</p>
                    <p>
                        {% for participant in event.participant.all %}
                            {{ participant }},
                        {% endfor %}
                    </p>
                    <h3>What we need ?</h3>
                    <p>list display here</p>

                </div>

                <!--Map -->
                <div class="col s4">
                    <div class="card">
                        <div class="card-image">
                            <div id="googleMap"></div>
                        </div>
                        <div class="card-content">
                            <h4>When ?</h4>
                            <p><b>Start: </b>{{ event.start }} <br><b>Ends: </b>{{ event.end }}</p>

                            <h4>Where ?</h4>
                            <!--todo: event address -->
                            <p>EVENT ADRESS Here</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% if request.user == event.owner %}
            <div class="card-action">
                <a class="waves-effect waves-light btn"
                   href="{% url 'events:update' event.id %}">Update</a>
                <a class="waves-effect waves-light btn modal-trigger"
                   href="#delete-modal">Delete</a>
            </div>
        {% endif %}

    </div>

    <div class="card event-page-elem">

        <div class="card-action">
            <p>Share this !</p>

            <!-- Go to www.addthis.com/dashboard to customize your tools -->
            <div class="addthis_native_toolbox"></div>
            
        </div>
    </div>
    <!-- ----------------------------------------------- -->

    <!--

    -->



    <!-- Modal Trigger -->


    <!-- Modal Structure -->
    <div id="delete-modal" class="modal">
        <div class="modal-content">
            <h4>Modal Header</h4>
            <p>A bunch of text</p>
        </div>
        <div class="modal-footer">
            <a href="" class=" modal-action modal-close waves-effect waves-green btn-flat">Cancel</a>
            <a class=" modal-action modal-close waves-effect waves-green btn-flat"
               onclick="$('#delete-modal').closeModal();" href="{% url 'events:delete' event.id %}">Agree</a>
        </div>
    </div>

    <!-- Go to www.addthis.com/dashboard to customize your tools -->
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-53579a8052432245"></script>
{% endblock %}
{% block footer %}{% endblock %}

<!--todo: Ida matasa79hach gla3ha -->
<div>
    {#{% if event.owner == request.user %}
                    <!--
                        <div class="card-action">
                            <a href="{% url 'events:update' event.id %}" class="btn btn-default">Update</a>
                            <!-- Button trigger modal -->
                            <button type="button" class="btn btn-default" data-toggle="modal"
                                    data-target="#remove-event-modal">
                                Remove
                            </button>
                        </div>
                        -->
                    {% endif %}#}
</div>
