{% extends 'base.html' %}
{% block title %}Events{% endblock %}
{% block content %}


    <div class="container">

        <div class="row">
            <div class="col m2">

                <div class="collection ">
                    <a href="{% url 'events:list' %}"
                       class="collection-item{% if not category %} active deep-purple accent-2 white-text{% else %} black-text {% endif %}">All</a>
                    {% for cat in categories %}
                        <a href="{{ cat.get_absolute_url }}"
                           class="collection-item{% if cat == category %} active deep-purple accent-2 white-text {% else %} black-text {% endif %}">{{ cat.name }}</a>
                    {% endfor %}
                </div>

            </div>

            <div class="col m10">
                <ul class="collapsible popout" data-collapsible="accordion">
                    {% for event in events %}
                        <li>
                            <div class="collapsible-header">
                                <img id="event-list-img" src="{{ event.category.image.url }}" class="circle"
                                     height="48">
                                <span><a href="{{ event.get_absolute_url }}">{{ event.name }}</a></span>
                            </div>
                            <div class="collapsible-body"><p>{{ event.description }}</p></div>
                        </li>
                    {% endfor %}
                </ul>

            </div>
        </div>
    </div>


    <div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
        <a class="btn-floating btn-large deep-purple accent-2" href="{% url 'events:create' %}">
            <i class="material-icons">add</i>
        </a>
    </div>

{% endblock %}
