{% load staticfiles i18n %}

<!-- Collapsible -->
<nav class="dark-orange">
    <div class="nav-wrapper">
        <a href="{% url 'home' %}" class="brand-logo">Sahem</a>
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
            <li><a href="{% url 'home' %}">Home</a></li>
            {% if request.user.is_authenticated %}
                <li>
                    <a href="{% url 'users:detail' request.user.username %}">{% trans "My Profile" %}</a>
                </li>
                <li>
                    <a href="{% url 'account_logout' %}">{% trans "Logout" %}</a>
                </li>
            {% else %}
                <li>
                    <a href="{% url 'account_signup' %}">{% trans "Sign Up" %}</a>
                </li>
                <li>
                    <a href="{% url 'account_login' %}">{% trans "Log In" %}</a>
                </li>
            {% endif %}
            <li><a href="#events">Events</a></li>
            <li><a href="#about">About</a></li>
            {% if request.user.is_superuser %}
                <li><a href="/admin">Admin</a></li>
            {% endif %}
        </ul>
        <ul class="side-nav" id="mobile-demo">
                <li><a href="{% url 'home' %}">Home</a></li>
                {% if request.user.is_authenticated %}
                    <li>
                        <a href="{% url 'users:detail' request.user.username %}">{% trans "My Profile" %}</a>
                    </li>
                    <li>
                        <a href="{% url 'account_logout' %}">{% trans "Logout" %}</a>
                    </li>
                {% else %}
                    <li>
                        <a href="{% url 'account_signup' %}">{% trans "Sign Up" %}</a>
                    </li>
                    <li>
                        <a href="{% url 'account_login' %}">{% trans "Log In" %}</a>
                    </li>
                {% endif %}
                <li><a href="#events">Events</a></li>
                <li><a href="#about">About</a></li>
                {% if request.user.is_superuser %}
                    <li><a href="/admin">Admin</a></li>
                {% endif %}
        </ul>

    </div>
</nav>
