{% extends "base.html" %}
{% load staticfiles %}

{% block title %}User: {{ object.username }}{% endblock %}

{% block meta %}
    {{ block.super }}

    <meta name="description" content="Checkout leatest news, and events you contributed to on Sahem">
    <meta keywords="Sahem,Charity,Events,organize,updates">
    <meta name="robots" content="noindex">

{% endblock %}

{% block css %}
    {{ block.super }}

    <!-- Get rid of spacing between content & footer in this page -->
    <style>

        footer.page-footer {
            margin-top: 0 !important;
        }

        #dashbrd {
            margin-bottom: 0;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="row" id="dashbrd">

        <div class="col m4 l3 hide-on-small-only" style="background-color: #212121">
            <div class="card center">
                <div class="card-content ">
                    {% if request.user.image %}
                        <img src="{{ request.user.image.url }}" class="responsive-img circle">
                    {% else %}
                        <img src="{% static 'images/avatar.jpg' %}" class="responsive-img circle">
                    {% endif %}

                    <h3>{{ request.user }}</h3>
                    <p>This is some text.</p>
                </div>
                <div class="card-action">
                    <p><a href="#" class="deep-orange-text"><b>Edit your profile</b></a></p>
                </div>
            </div>

            <div class="card center">
                <div class="card-content">
                    <!--todo: Make it dynamic -->
                    <h3>My events<br> 55</h3>
                </div>

                <div class="card-action">
                    <div class="row center">
                        <div class="col m6 push-left">
                            <p>Current: <strong>22</strong></p>
                        </div>
                        <div class="col m6 pull-right">
                            <p>Past: <strong>33</strong></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Main DASHCONTENT -->
        <div class="col s12 m8 l9">

            <!-- Current events -->
            <div class="card">
                <div class="card-content">
                    <div class="card-title">Current events</div>
                    <!-- todo: grap current events -->
                    <ul>
                        <li></li>
                    </ul>
                    <!--If nothing-->
                    <p class="center">
                        <i>Nothing to show here. <br>
                            You didn't engage in any event yet, are you <a href="#">Looking for a new
                                challenge </a>?</i>
                    </p>
                </div>
            </div>

            <!-- upcoming events -->
            <div class="card">
                <div class="card-content">
                    <div class="card-title">Upcoming events</div>
                    <!-- todo: grap current events -->
                    <ul>
                        <li></li>
                    </ul>
                </div>
            </div>

            <div class="card">
                <div class="card-content">
                    <div class="card-title">Latest comments</div>
                    <!-- todo: Add some dynamic content here -->
                    <ul>
                        <li></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
