{% extends "base.html" %}
{% load static %}

{% block title %}User: {{ object.username }}{% endblock %}

{% block meta %}
    {{ block.super }}

    <meta name="description" content="Checkout leatest news, and events you contributed to on Sahem">
    <meta keywords="Sahem,Charity,Events,organize,updates">
    <meta name="robots" content="noindex">

{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-4 col-xs-8 col-md-3 col-lg-3 cards-content pull-left text-center">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <img src="../../static/images/avatar.jpg" class="img-responsive img-circle img-thumbnail">
                    <h3>{{ request.user }}</h3>
                    <p>This is some text.</p>
                    </div>
                    <div class="panel-footer">
                        <p><a href="#">Edit your profile</a></p>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-body text-center">
                        <!--
                        todo: Make it dynamic
                                          -->
                        <h3>My events<br> 55</h3>
                    </div>
                    <div class="panel-footer">
                        <div class="row">
                            <div class="col-xs-4 pull-left">
                                <p>Current: <strong>22</strong></p>
                            </div>
                            <div class="col-xs-4 pull-right">
                                <p>Past: <strong>33</strong></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-12 col-xs-12 col-md-8 col-lg-8 cards-content">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3>Current</h3>
                    </div>
                    <div class="panel-body">
                        <ul class="list-group">
                            <li class="list-group-item">
                                <h4>Awsome eventsEvent</h4>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab aliquid culpa delectus
                                <p class="text-right">22/03/2016 to 23/04/2019</p>

                            <li class="list-group-item">
                                <h4>Awsome eventsEvent</h4>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab aliquid culpa delectus
                                <p class="text-right">22/03/2016 to 23/04/2019</p></li>
                        </ul>
                    </div>
                </div> <!--Current Card-->

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3>Upcoming events</h3>
                    </div>
                    <div class="panel-body">
                        <!--If nothing-->
                        <p class="text-center"><i>
                            Nothing to show here. <br>
                            You didn't engage in any event yet, are you <a href="#">Looking for a new challenge </a>?
                        </i></p>
                        <!--
                        <ul class="list-group">
                            <li class="list-group-item">
                                <h4>Awsome eventsEvent</h4>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab aliquid culpa delectus
                                <p class="text-right">22/03/2016 to 23/04/2019</p>

                            <li class="list-group-item">
                                <h4>Awsome eventsEvent</h4>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab aliquid culpa delectus
                                <p class="text-right">22/03/2016 to 23/04/2019</p></li>
                        </ul>
                        -->
                    </div>
                </div> <!--Current Card-->
            </div>


        </div>

    </div>
{% endblock content %}

