<header id="headerTop" class="index-sections">
    <h1 class="text-center">Ready To change the world ?</h1>
    <p class="text-center">Join nonprofits, or organize your own event!</p>
    <a class="waves-effect waves-light btn-large" href="">Get Started</a>
</header>
<!-- How it works -->

<div class="container">

    <div class="row">

        <div class="col m9">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab aliquam autem cum ducimus eum explicabo
                fugit harum ipsum modi reprehenderit repudiandae sunt tenetur ullam, unde vel veniam voluptate?
                Possimus, soluta.</p>
        </div>

        <div class="col m3">
            <img src="static/images/avatar.jpg" alt="">
        </div>

    </div>


    <div class="row">

        <div class="col m3">
            <img src="static/images/avatar.jpg" alt="">
        </div>

        <div class="col m9">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab aliquam autem cum ducimus eum explicabo
                fugit harum ipsum modi reprehenderit repudiandae sunt tenetur ullam, unde vel veniam voluptate?
                Possimus, soluta.</p>
        </div>

    </div>

    <div class="row">

        <div class="col m9">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab aliquam autem cum ducimus eum explicabo
                fugit harum ipsum modi reprehenderit repudiandae sunt tenetur ullam, unde vel veniam voluptate?
                Possimus, soluta.</p>
        </div>

        <div class="col m3">
            <img src="static/images/avatar.jpg" alt="">
        </div>

    </div>
</div>

[[ message ]]

<ul>
    <li ng-repeat="event in events">
        <h1>[[ event.name ]]</h1>
    </li>
</ul>

